html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.banner {
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  height: 3rem;
  color: white;
  background-color: cadetblue;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.header span {
  font-family: Helvetica;
  font-size: 1rem;
  padding-right: 2rem;
}

.bannertextcontainer {
  display: flex;
  justify-content: flex-end;
}

.bannertextbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 10rem;
  margin-right: 9rem;
  padding: 1.5rem 5rem;
}

.bannertextbox span {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.featurescontainer {
  display: flex;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
}

#image2, #image3 {
  width: 5rem;
}

#image1 {
  width: 3rem;
}
